<ion-header>
  <ion-toolbar>
    <ion-title>turismo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of turisticos">
    <ion-card-header>

      <ion-card-subtitle></ion-card-subtitle>
    
      <ion-img src="../assets/img/{{item.fotico}}"></ion-img> 
    
      <ion-card-title>{{item.sitio}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
